<!--begin::Signup-->
<div class="login-form login-signup">
  <!--begin::Form-->
  <form
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="formRegister"
    (ngSubmit)="signUp()"
  >
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Sign Up
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Enter your details to create your account
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <div *ngIf="error">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text"> {{error}}</div>
      </div>
    </div>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group">

      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark" for="email" [ngClass]="formRegister.controls['email'].invalid ? 'text-danger' : ''">Email Address</label>
        <input id="email" formControlName="email" type="email" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" [ngClass]="formRegister.controls['email'].invalid ? 'is-invalid' : ''">
        <label class="text-danger" *ngIf="formRegister.controls['email'].hasError('required')">
          Email is Required!
        </label>
        <label class="text-danger" *ngIf="formRegister.controls['email'].hasError('email')">
          Enter a valid email address!
        </label>
      </div>
      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark" for="password" [ngClass]="formRegister.controls['password'].invalid ? 'text-danger' : ''">Password:</label>
        <input id="password" formControlName="password" type="password" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" [ngClass]="formRegister.controls['password'].invalid ? 'is-invalid' : ''">
        <label class="text-danger col" *ngIf="formRegister.controls['password'].hasError('required')">
          Password is Required!
        </label>
        <label class="col" [ngClass]="formRegister.controls['password'].hasError('required') || formRegister.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ formRegister.controls['password'].hasError('required') ||
          formRegister.controls['password'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}</i>
          Must be at least 8 characters!
        </label>
        <label class="col" [ngClass]="formRegister.controls['password'].hasError('required') || formRegister.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ formRegister.controls['password'].hasError('required') ||
          formRegister.controls['password'].hasError('hasNumber') ? 'cancel' :
                  'check_circle' }}</i>
          Must contain at least 1 number!
        </label>
        <label class="col" [ngClass]="formRegister.controls['password'].hasError('required') || formRegister.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ formRegister.controls['password'].hasError('required') ||
          formRegister.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                  'check_circle' }}</i>
          Must contain at least 1 in Capital Case!
        </label>
        <label class="col" [ngClass]="formRegister.controls['password'].hasError('required') || formRegister.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ formRegister.controls['password'].hasError('required') ||
          formRegister.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                  'check_circle' }}</i>
          Must contain at least 1 Letter in Small Case!
        </label>
        <label class="col" [ngClass]="formRegister.controls['password'].hasError('required') || formRegister.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ formRegister.controls['password'].hasError('required') ||
          formRegister.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                  'check_circle' }}</i>
          Must contain at least 1 Special Character!
        </label>
      </div>
      <div class="form-group">
        <label class="font-size-h6 font-weight-bolder text-dark" for="confirmPassword" [ngClass]="formRegister.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm
          Password:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
               [ngClass]="formRegister.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
        <label class="text-danger" *ngIf="formRegister.controls['confirmPassword'].hasError('required')">
          Password is Required!
        </label>
        <label class="text-danger" *ngIf="formRegister.controls['confirmPassword'].hasError('NoPassswordMatch')">
          Password do not match
        </label>
      </div>

      <label class="text-danger" *ngIf="error">
        {{error}}
      </label>


    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="checkbox mb-0">
        <input type="checkbox" formControlName="agree" name="agree" />&nbsp;I
        Agree the&nbsp;<a
          href="https://keenthemes.com/metronic/?page=faq"
          target="_blank"
          >terms and conditions</a
        >.&nbsp;
        <span></span>
      </label>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">

      <button
        type="submit"
        id="kt_login_signup_submit"
        [ngStyle]="formRegister.invalid ? { cursor : 'not-allowed'} : {}"
        [disabled]="
          formRegister.invalid || !formRegister.controls['agree'].value
        "
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        Submit
      </button>
      <a
        routerLink="/auth/login"
        type="button"
        id="kt_login_signup_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        Cancel
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signup-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
